    <div class="panel-footer" style="background-color:rgba(33, 33, 33, 0.1);width: 100%;margin:auto;">
        <center style="background-color:rgba(3c, 35, 30, 0.5);color:black;">
            Copyright © 鲁ICP备19019577号-1 Yy BLog System. All rights reserved. 
            <br>
            <a href="https://blog.csdn.net/u011182346" target="_blank">庄宿正的CSDN博客</a>
            <a href="https://blog.csdn.net/qq_31844349?t=1" target="_blank">桑广灿的CSDN博客</a>
            <a href="http://www.cncandy.net" target="_blank">奶糖的个人小屋</a>

        </center>
    </div>
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
        </script>
        