<meta charset="UTF-8">
<meta name="baidu-site-verification" content="MHEZApBmLE" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="html,jquery,thinkphp,node.js,python,bootstrap,github,mysql,centos,java,庄宿正的官方网站">
<meta name="description" content="专注于技术共享,为大家在IT行业领军护航  -- 庄宿正的官方网站">
<meta name="author" content="庄宿正-个人博客,本站最终解释权归庄宿正所有!" />
<meta name="copyright" content="Copyright © 鲁ICP备19019577号-1 Yy BLog System. All rights reserved." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.yykjc.cn" />
<meta property="og:title" content="庄宿正的官方网站" />
<meta property="og:description" content="庄宿正的官方网站" />
<meta property="og:tag" content="index" />
