<div class="col-xs-0 col-sm-0 col-md-2 hidden-xs hidden-sm" style="height: 100%">


    <!--<div class="list-group" id="contion_left" style="position:fixed;margin-top:0%;">-->
        <div class="list-group" id="contion_left">
        <a class="list-group-item active">
            专栏 - 共({$count})条数据
        </a>
        <a href="/" class="list-group-item" style="height:36px;">全部分类</a>
        {volist name='selectlist' id='ls'}
            <a href="/ShowType/{$ls.Type}" class="list-group-item" style="height:36px;">{$ls.Type}</a>
        {/volist}
        <a href="/ShowType/其他" class="list-group-item" style="height:36px;">其他</a>
    </div>

    <!--<div class="list-group" id="contion_left" style="position:fixed;margin-top:0%;">-->
        <div class="list-group" id="contion_left">
        <a class="list-group-item active">
            最热文章
        </a>
        {volist name='Hotlist' id='ls'}
            <a href="/Blog/{$ls.Id}" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" class="list-group-item" style="height:36px;">[{$ls.Views}]{$ls.Title}</a>
        {/volist}
    </div>


</div>
