<nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid" >
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">YyCity</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">庄宿正的官方网站</a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                  <!--<li><a href="/ResList">资源列表</a></li>-->
                  <li><a href="/Key/Java学习笔记">Java学习笔记</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">所有分类 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!----分类开始-->
                      <li><a href="/">显示全部</a></li>
                      <li role="separator" class="divider"></li>
                      {volist name='TypeList' id='ls'}
                      <li><a href="/ShowType/{$ls.Type}">{$ls.Type}</a></li>
                      {/volist}
                      <!--
                        <li role="separator" class="divider"></li>
                        <li><a href="/ShowType/其他">其他</a></li>
                      -->
                      <!--<li><a href="#">One more separated link</a></li>-->
                      <!----分类结束-->
                    </ul>
                  </li>
                </ul>
                <form class="navbar-form navbar-left" onkeydown="if(event.keyCode==13)return false;" >
                  <div class="form-group">
                    <input id="key" type="text" name="word"class="form-control" placeholder="输入您要搜索的内容">
                  </div>
                  <button type="button" onclick="FindKey()" class="btn btn-default" >搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="glyphicon glyphicon-pencil" href="/WriteComments">写博客</a></li>
                    <li class="dropdown">                                             <!--只要不是dropdown 就不会弹出下拉菜单-->
                    <a href="/Login" class="dropdown-toggle UserLogin glyphicon glyphicon-user" data-toggle="" role="button" aria-haspopup="true" aria-expanded="false">用户登录</a>
                    <ul class="dropdown-menu">
                      <li><a href="/WriteComments" class="glyphicon glyphicon-pencil">写博客</a></li>
                      <li><a href="/PostResource" class="glyphicon glyphicon-arrow-up">提交资源</a></li>
                      <li><a href="/MagBlog" class="glyphicon glyphicon-th-list">管理博客</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="{:url('User/Personal')}" class="glyphicon glyphicon-user">个人中心</a></li>
                      <li><a href="{:url('User/ChangePassWd')}" class="glyphicon glyphicon-off">修改密码</a></li>
                      <li><a href="{:url('User/OutLogin')}" class="glyphicon glyphicon-off">退出登录</a></li>
                    </ul>
                  </li>
                  <li><a class="glyphicon glyphicon-scale" href="{:url('admin/index/index')}">后台管理</a></li>
                  <li><a class="glyphicon glyphicon-comment" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1454144616&site=qq&menu=yes">联系我们</a></li>
                  <!--
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">商业合作 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
                  -->
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
</nav>
<script>
  function FindKey(){
    var key = $("#key").val();
    if(key.length > 0){
      $(location).attr("href","/Key/" + key);
    }else{
      $(location).attr("href","/");
    }
  }
</script>