<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dream</title>
	<!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>

    <div id="wrapper">
        {include file='../application/admin/view/model/nav.html'}
        <!--/. NAV TOP  -->
        {include file='../application/admin/view/model/left.html'}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
                                  


            <!---主要内容开始--->

          <table class="table">
            <tr>
              <th>IP</th>
              <th>Other</th>
              <th>Time</th>
              <th>操作</th>
            </tr>
          
            
            {volist name="list" id='ls'}
            <tr>
              <td>
                <a href="http://www.ip138.com/ips138.asp?ip={$ls.IP}&action=2">{$ls.IP}</a>
              </td>
              <td>{$ls.Other}</td>
              <td>{$ls.Time|date='Y-m-d H:i:s',###}</td>
              <td>
                <a href="{:url('findIP')}?IP={$ls.IP}" class="btn btn-success">查看此IP的其他</a>
              </td>
            </tr>
            {/volist}
          </table>
          {$page}
            <!---主要内容结束--->


            <!-- /. PAGE INNER  -->
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
      <!-- Custom Js -->
    <script src="/static/assets/js/custom-scripts.js"></script>
    
   
</body>
</html>
