<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dream</title>
    <!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        {include file='../application/admin/view/model/nav.html'}
        <!--/. NAV TOP  -->
        {include file='../application/admin/view/model/left.html'}
        <!-- /. NAV SIDE  -->
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">{$list.Title}
                    <span class="label label-danger">Id:{$list.Id}</span>
                    <span class="label label-danger">Id:{$list.UserId}</span>
                    <span class="label label-danger">Id:{$list.Type}</span>
                    <span class="label label-danger">Id:{$list.PostTime}</span>
                    <span class="label label-danger">Id:{$list.IP}</span>
                    <span class="label label-danger">Id:{$list.Browser}</span>
                    <span class="label label-danger">Id:{$list.Host}</span>
                    <span class="label label-danger">Id:{$list.Referer}</span>
                    <span class="label label-danger">Id:{$list.Views}</span>
                    <span class="label label-danger">Id:{$list.State}</span>
                </h3>
            </div>
            <div class="panel-body">
                {$list.Content}
            </div>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/js/morris/morris.js"></script>
    <!-- Custom Js -->
    <script src="/static/assets/js/custom-scripts.js"></script>


</body>

</html>