<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/404/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="/static/404/js/jquery.min.js"></script>
<link href="/static/404/css/font-awesome.css" rel="stylesheet"> 
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
<title>404页面失踪了 - 庄宿正的官方网站</title>
</head>
<body>
	<div class="main">
		<canvas id="myCanvas"></canvas>
		<div class="agileinfo_404_main">
			<h1>庄宿正的官方网站-404页面</h1>
			<div class="w3_agile_main">
				<h2>OMG!Is this page lost?</h2>
				<p>这篇博客一定是走丢了</p>
				<br /><a href="javascript:history.back(-1);" style="color:red;font-size:20px;">点击此处回到上一级</a></p>
				<div class="agile_404 w3layouts">
					<div class="agile_404_pos">
						<h3>4<span>0</span>4<img src="/static/404/images/1.png" alt=" " /> </h3>
					</div>
					<img src="/static/404/images/3.png" alt=" " class="w3l"/>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/404/js/particles.min.js"></script>
    <script>
      window.onload = function() {
        Particles.init({
          selector: '#myCanvas',
          color: '#6b6b6b',
          connectParticles: true,
          minDistance: 100
        });
      };
    </script>
</body>
</html>