<!---资源下载-->
<!DOCTYPE html>
<html lang="en">
<head>
    {include file='../application/index/view/model/head.html'}
    <link rel="stylesheet" href="/static/bt/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bt/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/self/css/public.css">
    <script src="/static/bt/js/jquery.js"></script>
    <script src="/static/bt/js/bootstrap.js"></script>
    <script src="/static/bt/js/cookie.js"></script>
    <script src="/static/bt/js/jquery_md5.js"></script>
    <script src="/static/self/js/CheckLogin.js"></script>
    <script src="/static/bt/js/holder.js"></script>    
    <title>资源提交 - 庄宿正的官方网站</title>
</head>
<body>
    <div class="container-fluid">
      <!---导航开始-->
      {include file='../application/index/view/model/model.html'}
      <!---导航结束-->
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="form-group">
            <label for="">资源标题</label>
            <input type="text" class="form form-control" name="Title" placeholder="资源标题">
          </div>
          <div class="form-group">
            <label for="">分类</label>
            <select name="Type" id="" class="form-control">
              <option value="Adobe系列">Adobe系列</option>
              <option value="Adobe系列破解软件">Adobe系列破解软件</option>
              <option value="微软系列">微软系列</option>
              <option value="绿色软件">绿色软件</option>
              <option value="正规软件">正规软件</option>
              <option value="破解版软件">破解版软件</option>
              <option value="Office文件">Office文件</option>
              <option value="其他软件">其他软件</option>
            </select>
            <div class="form-group">
              <label for="">描述</label>
              <textarea name="Content" rows="10" class="form-control" placeholder="最多100个字符"  onchange="this.value=this.value.substring(0, 500)" onkeydown="this.value=this.value.substring(0, 500)" onkeyup="this.value=this.value.substring(0, 500)"></textarea>
            </div>
            <div class="form-group">
              <label for="">链接</label>
              <input type="text" name="Link" class="form-control" placeholder="资源下载链接">
            </div>
            <div class="form-group">
              <input class="form-control btn btn-success" type="button" value="提交">
            </div>
          </div>
      </div>
      <div class="col-md-2"></div>
</body>
<script>
$(function(){
  $("input[type='button']").click(function(){
    var Title = $("input[name='Title']").val();
    var Type = $("option").val();
    var Content = $("textarea[name='Content']").val();
    var Link = $("input[name='Link']").val();    
    $.ajax({
      url:'{:url("CheckResource")}',
      type:'POST',
      data:{Title:Title,Type:Type,Content:Content,Link:Link},
      success:function(data){
        alert(data[0].msg);
      }
  });
});

    
//$('body').hide(500);
//$('body').toggle(1000);
//判断用户Cookie是否存在
var Token = $.cookie("UserToken");
$.ajax({
    url:"/CheckToken",
    type:'POST',
    data:{Token:Token},
    success:function(data){
        if(data.mag == '1'){
          //登录成功
          $('.UserLogin').html(data.UserName + "  <span class='caret'></span>");
          $('.UserLogin').attr('data-toggle','dropdown');
        }

        if(data.mag == '0'){
          $('.UserLogin').html("用户登录");
        }

        if(data.mag == '-1'){
          $.cookie('Token', null,{ expires: 7, path: '/' });
          alert(data.other);
        }
    }
});


//登录成功
//$('.UserLogin').attr('data-toggle','dropdown');
//UserLogin
});
</script>
</html>