<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="{:url('main')}"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li>
                <a href="{:url('elements')}"><i class="fa fa-desktop"></i> 用户管理</a>
            </li>
            <li>
                <a href="{:url('chart')}"><i class="fa fa-bar-chart-o"></i> 信息管理</a>
            </li>
            <li>
                <a href="{:url('panel')}"><i class="fa fa-qrcode"></i> 页面设置</a>
            </li>
            
            <li>
                <a href="{:url('table')}"><i class="fa fa-table"></i> 意见反馈系统</a>
            </li>
            <li>
                <a href="{:url('form')}"><i class="fa fa-edit"></i> 系统日志 </a>
            </li>


            <li>
                <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Link</a>
                    </li>
                    <li>
                        <a href="#">Second Level Link</a>
                    </li>
                    <li>
                        <a href="#">Second Level Link<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Link</a>
                            </li>
                            <li>
                                <a href="#">Third Level Link</a>
                            </li>
                            <li>
                                <a href="#">Third Level Link</a>
                            </li>

                        </ul>

                    </li>
                </ul>
            </li>
            <li>
                <a href="empty.html"><i class="fa fa-fw fa-file"></i> 系统日志</a>
            </li>
        </ul>

    </div>

</nav>