<!---个人中心-->
<!DOCTYPE html>
<html lang="en">
<head>
    {include file='../application/index/view/model/head.html'}
    <link rel="stylesheet" href="/static/bt/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bt/css/bootstrap-theme.min.css">
    <script src="/static/bt/js/jquery.js"></script>
    <script src="/static/bt/js/bootstrap.js"></script>
    <script src="/static/bt/js/cookie.js"></script>
    <script src="/static/bt/js/jquery_md5.js"></script>
    <script src="/static/bt/js/holder.js"></script>    
    <script src="/static/404/js/particles.min.js"></script>
</head>
<body style="background-color:#eee;">
    <h1>会员信息页面</h1>
</body>
</html>